# Complied source #
###################

*.hi
*.o

# LaTeX related #
#################

*.aux
*.idx
*.log
*.nlo
*.out
*synctex*
*.fls
*latexmk
*.out

# Miscellaneous files #
#######################

*#
*~
*.pdf
*.dot
!test1.dot
output.hs
ant.txt
/LatexDepGraph
.stack-work/
stack.yaml.lock
